.details {
    margin: auto;
    min-width: 650px;
    width: 50%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #d1c9b0;
}

.details .image {
    height: 300px;
}

.details .movie {
    padding-right: 10px;
}


.details .button {
    display: inline-block;
    border-radius: 15px;
    background-color: #34460f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .details .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .details .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .details .button:hover span {
    padding-right: 25px;
  }
  
  .details .button:hover span:after {
    opacity: 1;
    right: 0;
  }