.footer{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #d1c9b0;
    bottom: 0;
    color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}